body {
    background-color: #1ad1ff;
    padding:0;
    margin:0;

}

nav {
    background-color: white;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 50px;
}

button{
    float: right;
    margin-top: 15px;
    margin-right: 15px;
}

.form-style{
    margin: auto;
    width: 30%;
    padding-top:10%;
    background-color: thistle;
   

}
